#current-time-area {
  margin: 50px auto;
}
#current-date {
  font-size: 1.5rem;
}
#current-time {
  font-size: 2.5rem;
}
#shukkin,
#taikin {
  width: 80%;
  padding: 2rem 0;
  font-size: 24px;
  border-radius: 50px;
}
#stamped-start-time,
#stamped-end-time {
}
