@import "../common/colors";

#current-time-area {
  margin: 50px auto;
}
#current-date {
  font-size: 1.5rem;
}
#current-time {
  font-size: 3.5rem;
}
#current-timeS {
  margin-left: 0.4em;
  font-size: 0.6em;
  color: $dark-text-secondary;
}
#shukkin,
#taikin {
  width: 80%;
  padding: 1.5rem 0;
  font-size: 2.5em;
  border-radius: 100px;
}
