@import "common/reset";
@import "bootstrap";
@import "common/colors";
@import "common/util";
@import "common/animation";
@import "common/override_vendor_propaty";

// initialize
html,
body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  color: $black;
  // overflow-y: scroll;
}
main {
  flex: 1;
}
li {
  list-style: none;
}
a {
  color: $dark-text-secondary;
  text-decoration: none;
  &:visited {
    color: $dark-text-secondary;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $black;
  }
}
img {
  vertical-align: bottom;
}
%flex {
  display: flex !important;
}
h2.title {
  position: relative;
  padding: 0.25em 0 0.5em 0.75em;
  border-left: 6px solid $blue-400;
  margin-bottom: 30px;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 0;
    border-bottom: 1px solid #ccc;
  }
}
.display-sp {
  display: none;
}
@include media-breakpoint-up(md) {
  %flex {
    display: block !important;
  }
  .content-left,
  .content-center,
  .content-right,
  .content-outer {
    width: 90%;
  }
  .display-pc {
    display: none;
  }
  .display-sp {
    display: block;
  }
}
// header
.user_name {
  vertical-align: middle;
  cursor: pointer;
  height: 100%;
}
nav.navbar {
  background-color: $blue-100;
  box-shadow: 0 2px 5px $dark-text-disabled;
  margin-bottom: 20px;
}
// footer
.footer {
  $footer-height: 50px;
  background-color: $blue-grey-900;
  color: $white;
  height: $footer-height;
  text-align: center;
  .copyright {
    padding: calc((#{$footer-height} - 1rem) / 2) 0;
    line-height: 1em;
    margin: 0;
  }
}
